# ==========================================
# 🤖 BITZ AUTO BOOST BOT VARIABLES
# ==========================================
AUTOBOT_BOT_TOKEN=8993564937:AAFB94yW2b1Xb8a0MhQn722-BfVqUqD4Z9w
BOT_TOKEN=8993564937:AAFB94yW2b1Xb8a0MhQn722-BfVqUqD4Z9w
ADMIN_IDS=8021449673,233444460,8295433038
ADMINS=8021449673,233444460,8295433038
MONGO_URI=mongodb+srv://pfparyan_db_user:9EoNNlZ4aCEaD0Nh@cluster0.czoripk.mongodb.net/?retryWrites=true&w=majority
DB_NAME=bitz_autoboost_bot
DATABASE_NAME=bitz_autoboost_bot

FORCE_JOIN_CHANNEL=@tgbitznet
FORCE_JOIN_1=@tgbitznet
FORCE_JOIN_2=
UPI_ID=9870685240@ybl
UPI_NAME=BITZ BOOST SERVICES

RATE_PER_VIEW=0.015
RATE_PER_REACTION=0.02
MAX_VIEWS_PER_POST=50000
MAX_REACTIONS_PER_POST=10000

# ==========================================
# 📢 BITZ ADS BOT VARIABLES
# ==========================================
ADS_BOT_TOKEN=8823768877:AAFNMZlSFjQAwWlQGv2co_nMsD5xOYPSjNI
ADS_DB_NAME=tgbitz_ads_bot
API_ID=32914069
API_HASH=738c57e6e04f1668f473323293067a71
BOT_NAME=TGBITZ Ads Bot
BOT_USERNAME=Bitzadsbot

# ==========================================
# 🌐 BRANDING & SUPPORT
# ==========================================
NETWORK_NAME=BITZ NETWORK
NETWORK_URL=https://t.me/tgbitznet
SUPPORT_NAME=ogbitz
SUPPORT_USERNAME=ogbitz
SUPPORT_URL=https://t.me/ogbitz
DEVELOPER_NAME=Aryan
DEVELOPER_URL=https://t.me/thatonearyan
